@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Salut le monde!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Je vous souhaite un bon week-end!</a>.</p>
</div>
